<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="mycarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" *ngIf="analysisFetched">
                    <div *ngFor="let answer of analytics ; let i = index" id="s{{i+1}}" class="item ">
                        <div class="main-head">
                            <h4 class="fl">Q.{{answer.description}}</h4>
                            <div class="action_bar fr">
                                <span class="icon_chart fl" (click)="showChart($event)"><i class="fa  fa-bar-chart" style="font-size:14px"></i></span>
                                <span class="icon_view fr " (click)="hideChart($event)"><i class="fa  fa-eye" style="font-size:14px"></i></span>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="image_video_container">
                            <div class="main_container" *ngIf="answer.resource_type != ''">

                                <div class="image_container" *ngIf="answer.resource_type === 'image'">
                                    <img src="{{answer.resource_url}}">
                                </div>
                                <div class="video_container" id="{{answer.resource_code}}" *ngIf="answer.resource_type === 'video' && answer.resource_code!=''">



                                    {{get_youtube_frame(answer)}}

                                    <!-- <iframe class="video_img_section"  width="450"  height="250" src="https://www.youtube.com/embed/{{answer.resource_code}}" frameborder="0" allowfullscreen></iframe>  -->



                                    <p id="https://www.youtube.com/embed/{{answer.resource_code}}">fff</p>




                                </div>
                            </div>
                            <div class="carousel-charts">
                                <div class="charts">
                                    <span class="pull-right"> </span>

                                    <piechart [analytics]='answer.analytics' *ngIf="answer.question_type === 'yes_no'"></piechart>
                                    <barchart [analytics]='answer.analytics' *ngIf="answer.question_type === 'multiple_choice'"></barchart>
                                    <wordcloud [answer]='answer' *ngIf="answer.question_type === 'short_text'" [session]='session'></wordcloud>
                                    <rate [answer]='answer' *ngIf="answer.question_type === 'rating'"></rate>
                                </div>
                                <div class="percent_analitical">

                                    <div class="analitic_data">
                                        <p class="ans_by">
                                            {{answer.answered_by}}
                                        </p>
                                        <p class="avg_total">
                                            {{get_avg_total(answer)}}%
                                        </p>
                                    </div>
                                    <div class="Voice_text">Voices</div>

                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="question_label" *ngIf="answer.question_type !='' ">
                            <ul>
                                <div *ngFor="let analytics_list of answer.analytics ; let i = index"><span class="color_comb{{i+1}} first fl"></span>
                                    <li class="fl">{{analytics_list.label}} </li><span class="choice_percent">

                                  [{{get_analitical_percent(analytics_list, answer)}}%]

                          </span>
                                    <div class="clear"></div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" id="Prev" (click)="previousModal($event)" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </a>
                <a class="right carousel-control" id="Next" (click)="nextModal($event)" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </a>
            </div>
            <div class="session_feed">
                <div class="feed_header">
                    <h3>Live Feed</h3>
                </div>
                <div class="fedd_body" *ngIf="queriesFetched && queries.length > 0">
                    <ul>
                        <li *ngFor="let query of queries">
                            <div>
                                <p class="feed_comment">{{query.description}}</p>
                            </div>
                            <div>
                                <span class="feed_user">{{query.posted_by}} ({{query.created_at}})</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>