<div class="card session-box hoverable">
    <div class="card-image">
        <img src="{{session.image_url}}" alt="{{session.title}}" height="250" class="responsive-img" />
        <div class="overlay {{hideClass}}">
            <a class="duplicate-session" href="#duplicate-session-modal" (click)="duplicateSession($event, session)" ga-on="click" ga-event-category="Sessions" ga-event-action="duplicate"> <i class="fa fa-clone tooltipped" data-position="bottom" data-delay="50" data-tooltip="Duplicate Session"></i>
            </a> <i (click)="editSession($event, session)" *ngIf="!session.isSample && !isComplete" class="fa fa-pencil-square-o tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit"></i>
            <a [routerLink]="['dashboard', session.session_id]"><i *ngIf="showDashBoardLink()" class="fa fa-bar-chart tooltipped" data-position="bottom" data-delay="50" data-tooltip="Statistics" ga-on="click" ga-event-category="Sessions" ga-event-action="dashboard"></i></a>
            <i *ngIf="!session.isSample" (click)="deleteSession()" class="fa fa-trash tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete" ga-on="click" ga-event-category="Sessions" ga-event-action="delete"></i>
            <div class="urltextbox-{{playStatus}}" *ngIf="session.status !== 'Created' && !isComplete && !session.isSample">
                <input id="sessiontexturl" name="copysessionurl" class="texturl" value="{{session.share_token}}" #inputTarget />
                <button type="button" [ngxClipboard]="inputTarget" data-clipboard-target="#sessiontexturl" data-clipboard-action="copy" class="copy-btn waves-effect waves-light btn light-green darken-2">COPY
				</button>
            </div>
            <div *ngIf="textCopied" class="copy-success">Link Copied!</div>
        </div>
        <i class="fa fa-bars menu-icon" (click)="clicked()"></i>
    </div>
    <div class="card-content">
        <h5 class="truncate">
            <a [routerLink]="['/app/sessions', session.session_id]" ga-on="click" ga-event-category="Sessions" ga-event-action="details">{{session.title}}</a>
        </h5>
        <p class="truncate">{{session.organization}}</p>
    </div>
    <div class="card-action">
        <a class="start-stop-session" (click)="startStopSession()" ga-on="click" ga-event-category="Sessions" ga-event-action="start-stop" *ngIf="!isComplete && !session.isSample">
            <i class="fa fa-{{playStatus}}-circle-o {{playStatus}}"></i>
        </a> <span class="completed" *ngIf="isComplete && !session.isSample">Complete</span>
        <span class="completed" *ngIf="session.isSample">&nbsp;</span> <a href="#" class="last-seen"><i class="fa fa-clock-o"></i>
			{{session.updated_at}}</a>
    </div>
</div>
