<div id="welcome-user" [config]="{ show: true }" bsModal #childModal="bs-modal" class="modal fade in" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content">
      <div *ngIf="!isGetStartedActive">
        <div class="modal-header">
          <h5 class="modal-title">
            Welcome Aboard
          </h5>
        </div>
        <div class="modal-body text-center">
          <p class="text-center">
            We are excited to have you on board. Let us learn how to use nimblDeck in next few minutes.
          </p>

          <button type="button" class="btn btn-primary" aria-label="Close" (click)="getStarted()">
            <span aria-hidden="true">Let's get started</span>
          </button>
          <br />
        </div>
      </div>
      <app-onboarding (query)="onAskQuery()" (finish)="onFinish()" *ngIf="isGetStartedActive"></app-onboarding>
    </div>
  </div>
</div>