#welcome-user {
    top: 10%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    min-height: 530px;
    height: 530px;
}

.modal-title {
    color: #3C4858;
    font-size: 1.825em;
    line-height: 1.4em;
    font-weight: 700;
    text-align: center;
}

.modal-body {
    padding: 20px;
}

#welcome-user .modal-dialog {
    left: 5%;
    width: 90% !important;
    position: fixed;
}

.modal {
    width: 90% !important;
}

#welcome-user .modal-content {
    padding: 0;
}

.modal button.close {
    z-index: 10000;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: #fff;
    opacity: 1;
}