@font-face {
    font-family: TitilliumWeb-Regular;
    src: url('../fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: SverigeScriptClean_Demo;
    src: url('../fonts/SverigeScriptClean_Demo.ttf');
}

@font-face {
    font-family: AndBasR;
    src: url('../fonts/AndBasR.ttf');
}

@font-face {
    font-family: Brandon_light;
    src: url('../fonts/Brandon_light.otf');
}

@font-face {
    font-family: Brandon_thin;
    src: url('../fonts/Brandon_thin.otf');
}

@font-face {
    font-family: Brandon_bld;
    src: url('../fonts/Brandon_bld.otf');
}

@font-face {
    font-family: Brandon_med;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Brandon_med.otf');
}

@font-face {
    font-family: Brandon_med;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Brandon_blk.otf');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans-Regular.ttf');
}

/*Title*/

a,
a:focus,
a:hover{
    outline:none !important;
}

.navbar-fixed {
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: #fff !important;
    border-bottom: solid 1px #e4e4e4 !important;
}

.navbar-fixed li a {
    color: #8a959e !important;
}


.main {
    background-color: gray;
    overflow: hidden;
}

#nav_bar {
    border: 0;
    background-color: transparent;
    border-radius: 0px;
    margin-bottom: 0;
        padding: 18px 0;
}

#nav_bar.navbar-fixed {
    padding: 18px 0 15px;
}

.navbar-brand {
    margin-top: -15px;
}

.navbar-fixed .navbar-brand {
    margin-top: -4px;
    padding:0 15px;
}

.navbar-fixed .navbar-brand img{
    width: 250px;
    }
.navbar-fixed ul.menulinks{
    background: transparent;
}

.nav_links {
    margin: 0;
}

.nav_links li {
    margin: 0;
}

.nav_links li a {
    padding: 0 15.5px;
    color: #3498db;
    text-decoration: none;
}

.alert{
    margin:15px;
    padding:7px;
    border-radius:0;
}

.set-logo{
    width:250px;
}

#register-user-form .parsley-errors-list{
    text-align: left;
    color: #FFF;
    list-style: none;
    padding-left: 0;
}

.modal button.close {
    position: absolute;
    right: -15px;
    top: -12px;
    width: 35px;
    height: 35px;
    background: #fff;
    opacity: 1;
    border: 3px solid #000;
    border-radius: 20px;
}
.modal a{
    color: #607D8B;
    text-decoration: none;
}

.modal .parsley-errors-list{
    text-align: left;
    color: red;
    list-style: none;
    padding-left: 0;
}

/*button*/
.btn-primary{
    background-color: #ff8351;
    border-color: #eb7d4b;
    padding: 10px 50px;
}

.btn-primary:hover{
    background-color: #FF9151;
    border-color: #eb7d4b;
}



.navbar-header a.title {
    margin-top: 18px;
    font-family: SverigeScriptClean_Demo;
    font-size: 2em;
    color: #fff;
    font-weight: bold;
}

.navbar-header button{
    margin-top: 0;
    padding:0;
}

.navbar-header button i{
    font-size: 3.2em;
    color: #ccc;
}

.main {
    background: url('../images/background.jpg');
}

.menu-list {
    color: #FFFFFF;
    font-size: 1.6em;
    font-weight: normal;
}

.nav-header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0;
}

.nav-menu > li > a {
    color: white;
    font-weight: normal;
    font-size: 1em;
    font-family: Brandon_med;
    padding: 10px 15px;
    border: 2px solid transparent;
}

.nav-menu > li > a.double-space{
    color: white;
    font-weight: normal;
    font-size: 1em;
    font-family: Brandon_med;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 30px;    
    border: 2px solid transparent;
}

.nav-menu > li > a:hover, .nav-menu > li > a:focus {
    text-decoration: none;
    background: transparent;
    color: #ff8351;
}

.navbar-fixed li a.btn.sign{
    color: #8a959e ;
}

.navbar-brand{
    height:auto;
    width:80%;
}

.menulinks{
    background: rgba(0,0,0,.4);
    margin:0 -30px;
}


.modal-logo {
    width: 130px;
}

.modal-input-fields {
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    box-shadow: none !important;
    border-radius: 0px;
}

.modal-body {
    text-align: center;
}

.create-session-btn {
    background-color: #ff8351;
    border-color: #eb7d4b;
    font-family: "Brandon_bld", sans-serif;
    padding: 15px 50px;
    border-radius: 0px;
    margin-top: 8px;
    letter-spacing: 2px;
    color: #fff;
    border-radius: 2px;
}

.session-header {
    border-bottom: 0px;
}

.modal-title {
    margin-bottom: 15px;
}

.header-text {
    margin-top: 40px;
}

.header-text h3 {
    color: #FFFFFF;
    font: 400 2.875em/1.30435 "Brandon_thin", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

.header-text p {
    color: #fff;    
    margin-top: 30px;
    font: italic 300 0.8em "Open Sans", "open-sans", sans-serif;
    letter-spacing: 0.005em;
}

.get-started-btn {
    background-color: #ff8351;
    border-color: #eb7d4b;
    font-family: TitilliumWeb-SemiBold;
    padding: 14px 30px 14px 30px;
    border-radius: 4px;
    margin-top: 30px;
}

.modal-icon-vedio {
    font-size: 80px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
}

.modal-icon-vedio img{
    width: 80px;
}

.header-bottom-text {
    text-align: center;
    background-color: #F2F2F2;
    font-size: 0.8em;
    color: #999999;
    font-family: OpenSans-Regular;
    position: relative;
    height:65px;
    vertical-align: middle;

}

.header-bottom-text p{
    padding:5px;
    margin:0;
    margin-top:10px;
}

.section-text-parent {
    display: table-cell;
    vertical-align: middle;
}

.section-text {
    margin-top: 0px;
    vertical-align: middle;
    text-align: left;
    font-family: OpenSans-Regular;
    margin: 0px auto;
}

.text-padding {
    padding: 0px 0px 0px 0px;
}

.page-down-arrow{
    position: absolute;
    width:100%;
    top: 45px;
}

.page-down-arrow span{
    background: #F2F2F2;
    border-radius: 25px;
    padding: 7px;
}

.section-text h2{
    font: 300 35px/52px "Open Sans", "open-sans", sans-serif;
    color: #333c4e;
}

.section-text p {
    color: #8c8c8c;
    padding-top: 10px;
    font-size: 1.2em;
    font-family: OpenSans-Regular;
    line-height: 30px;
}

.img-shadow {
    box-shadow: 10px 10px 101px #888888;
}

.bgcol {
    background-color: #EAEDED;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bgcol-alter {
    padding-top: 30px;
    padding-bottom: 30px;
}

/*forth section*/
.forth-icon {
    color: #ff471a;
}

.forth-span {
    font-size: 1em;
    padding-left: 25px;
}

/* footer style */
.footer-color {
    background-color: #323945;
}

.footer-text h3 {
    margin-top: 50px;
    color: #FFFFFF;
    font-family: "Brandon_thin", sans-serif;
    font-size: 1.8em;
    margin-bottom: 50px;
}

.footer-subtext h3 {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 40px;
    font-family: "Brandon_thin", sans-serif;

}

.footer-subtext h3 a {
    color: #fff;
    text-decoration: underline;

}

.footer-btn {
    background-color: #ff8351;
    border-color: #eb7d4b;
    font-family: TitilliumWeb-SemiBold;    
    padding: 14px 30px 14px 30px;
    border-radius: 4px;
    margin-top: 10px;
    width:100%;     
 }

.footer-margin {
    margin-bottom: 60px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 16px;
    pointer-events: none;
    color: #d9d9d9;
}

/* align icon */
.left-addon .glyphicon {
    left: 0px;
}

/* add padding  */
.left-addon input {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    font-size: 14pt;
    border-radius: 0px;
    margin-top: 10px;
}

.footer-end {
    color: #8a959e;
    font-size: 1.0em;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    font-family: "Brandon_thin", sans-serif;
}

.footer-main {
    margin-left: 40px;
    margin-right: 40px;
}

/*lightbox CSS */

.lightboxcontainer {
    width: 100%;
    text-align: left;
}

.lightboxright {
    width: 100%;
}

.lightboxright iframe {
    min-height: 390px;
}

.divtext {
    margin: 36px;
}

/*@media Query*/
@media only screen and (min-device-width: 768px) {
    .head-right {
        padding: 0px 0px 0px 0px;
    }

    .menulinks{
        background : transparent;
        margin:0px;
    }

    .small-modal {
        width: 475px;
    }

    .section-text{
        width: 80%;
    }

    .no-left-padding {
        padding-left: 0px;
    }

    .no-right-padding {
        padding-right: 0px;
    }
    

    .btn.sign:hover {
        color: #FFFFFF;
        background-color: #ff8351;
    }

    .align {
        text-align: right;
        right: 0px;
    }

    .header-bottom-text {
        text-align: center;
        background-color: #F2F2F2;
        font-size: 1.4em;
        color: #999999;
        font-family: OpenSans-Regular;
    }

    .footer-btn {
        background-color: #ff8351;
        border-color: #eb7d4b;
        font-family: "Brandon_bld", sans-serif;
        padding: 15px 50px;
        margin-top: 9px;
        letter-spacing: 2px;
    }

    .footer-btn:hover {
        background-color: #ff8351;
        border-color: #eb7d4b;
    }

    .set-logo{
        width: 235px;
    }

    .nav-menu > li > a{
        padding: 10px 5px;
    }

    .nav-header .navbar-brand{
            padding: 15px 0px;
    }
}

@media only screen and (min-device-width: 992px) {

    .set-logo{
        width: 250px;
    }

    .nav-menu > li > a{
        padding: 10px 15px;
    }

    .nav-header .navbar-brand{
            padding: 15px 15px;
    }

    .log {
        color: #D2691E;
        border: 2px solid #ff8351 !important;
        border-radius: 0px;
        width: 90px;
        font-size: 0.8em;
    }

    .sign {
        color: #FFFFFF !important;
        background-color: #ff8351;
        padding: 1px;
        border-radius: 0px;
        font-size: 0.8em;
    }
    /*Title*/
    .navbar-header a.title {
        margin-top: 0px;
        font-family: SverigeScriptClean_Demo;
        font-size: 2em;
        color: #fff;
        font-weight: bold;
    }

    .navbar-fixed li a.btn.sign{
        color: #FFF !important;
    }

    .menulinks{
        background : transparent;
        margin:0px;
    }


    .log {
        color: #D2691E;
        border: 2px solid #ff8351;
        border-radius: 2px;
        width: 90px;
        font-size: 1.8em;
        padding: 0px 20px 0px 20px;
    }
    .sign {
        color: #FFFFFF;
        background-color: #ff8351;
        padding: 2px;
        border-radius: 2px;
        font-size: 1.8em;
        padding: 0px 20px 0px 20px;
        margin-left: 10px;
    }

    .header-text {
        margin-top: 60px;
    }

    .header-text h3 {
        color: #FFFFFF;
        font: 400 2.875em/1.30435 "Brandon_thin", sans-serif;
        font-size: 3em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.075em;

    }

    .header-text p {
        color: #fff;       
        margin-top: 30px;
        font: italic 300 1.5em "Open Sans", "open-sans", sans-serif;
        letter-spacing: 0.005em;
    }

    .get-started-btn {
        background-color: #ff8351;
        border-color: #eb7d4b;
        font-family: "Brandon_bld", sans-serif;
        padding: 15px 50px;
        margin-top: 30px;
        letter-spacing: 2px;
    }

    .get-started-btn:hover {
        background-color: #ff8351;
        border-color: #eb7d4b;
    }

    .modal-icon-vedio {
        font-size: 50px;
        color: #FFFFFF;
        margin-top: 35px;

    }
    
    .play-icon{
        font-size: 1.8em;
    }

    .main {
        height: 650px;
        background: url('../images/background.jpg');
    }

    .header-text {
        margin-top: 105px;
    }

    .text-padding {

        float: right;
        right: 0;
    }

    .align {
        text-align: right;
        right: 0;
    }

    .header-bottom-text {
        text-align: center;
        background-color: #F2F2F2;
        font-size: 1.4em;
        color: #999999;
        font-family: OpenSans-Regular;
    }

    .header-bottom-text p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: "Brandon_med", sans-serif;
    }

    .bgcol {
        background-color: #EAEDED;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .bgcol-alter {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    /*Footer start*/
    .footer-text h3 {
        margin-top: 80px;
        color: #FFFFFF;
        font-family: "Brandon_thin", sans-serif;
        font-size: 2.5em;
        margin-bottom: 60px;
    }

    .footer-subtext h3 {
        color: #fff;
        font-size: 1.0em;
        margin-bottom: 40px;
        font-family: "Brandon_thin", sans-serif;
    }

    #login-modal form {
        width: 80%;
        margin: 0 auto;
    }
}

.download-app-section{
    background: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.download-app-section img{
    width: 70%;
    height: auto;
}

.download-app-section h4{
    margin-top: 0;
    font-family: "Brandon_thin", sans-serif;
    font-weight: 800;
}

.download-app-section h1{
    font: 300 35px/52px "Open Sans", "open-sans", sans-serif;
    color: #333c4e;
    margin-bottom: 20px;
    margin-top: 0;
}

.bottom-footer{
   text-align: center;
    line-height: 30px;
}

.contact-social-icons a i{
    color: #8a959e;
    font-size: 2em;
    margin-left: 5px;
    margin-right: 5px;
}

.contact-social-icons a:hover i{
    color: #ff8351;
}

.contact-social-icons a.email{
    color: #8a959e;
    font-size: 1.2em;
    margin-left: 5px;
    margin-right: 5px;
}

.bottom-footer h1.contact-title{
    font: 300 35px/52px "Open Sans", "open-sans", sans-serif;
    color: #333c4e;
}

@media only screen and (min-width:768px){
    .download-app-section img{
        width: 40%;
    }
}

@media only screen and (min-width:992px){
    .download-app-section img{
        width: 15%;
    }
}