<nav>
  <div class="row">
    <div class="col offset-m1 s5 m5">
      <a [routerLink]="['/app']">
        <img class="responsive-img nimbldeck-logo" [src]="nimblDeckLogo" alt="NimblDeck Logo" width="190">
      </a>
    </div>
    <div class="col s7 m5">
      <ul id="nav-mobile" class="right">
        <li>
          <a (click)="isHelpNeeded=true" class="help-icon help-btn">
            <i class="material-icons">live_help</i>
          </a>
        </li>
        <li>
          <a href="#contact-us-modal" (click)="openModal($event)" class="help-icon contact-us-btn" ga-on="click" ga-event-category="Contact Us"
            ga-event-action="play">
            <i class="material-icons">feedback</i>
            </a>
        </li>
        <li>
          <userdropdown></userdropdown>
        </li>
      </ul>
    </div>
  </div>

</nav>
<app-welcome-user (query)="onAskQuery()" (finish)="onHelpFinish()" (closed)="onHelpClosed()" *ngIf="isHelpNeeded"></app-welcome-user>
<router-outlet></router-outlet>
<contactus></contactus>