<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<img src="assets/img/nimbldeck-logo.jpg" width="150px" class="user-avatar" />
			<h5 i18n> Enter your email address and we'll get you back on track.</h5>
			<div class="error" *ngIf="forgotError">{{errorMessage}}</div>
			<form  [formGroup]="forgotForm"  role="form" (submit)="login($event)">
				<div class="form-content">
					<div class="form-group">
						<input type="text" 
							class="form-control input-underline input-lg" 
							formControlName="emailId" placeholder="Email Id">
					</div>
				</div>
				<button type="submit" [disabled]="!forgotForm.valid || inProcess"
								class="waves-effect waves-light btn">{{forgotText}}</button>
				 &nbsp; <a type="submit" class="btn rounded-btn"
					routerLink="/login">{{'login.login' | translate}}</a>
			</form>
		</div>
	</div>
</div>
