<div class="row title-section">
    <div class="col s12">
        <div class="container title-container">
            <pagetitle [pageTitle]="title"></pagetitle>
            <div *ngIf="sessionFetched">
                <h4 class="truncate">
                    - {{ session.title }} <small *ngIf="session.organization">[{{session.organization}}]</small>
                </h4>
            </div>
        </div>
    </div>
</div>


<tabs>
    <tab title="Questions">
        <div class="container">
            <p *ngIf="!analysisFetched" class="center-align">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </p>
        </div>

        <div class="" *ngIf="analysisFetched">
            <div class="rowiner">
                <div class="col s12">
                    <div class="container" *ngIf="analytics.length == 0">
                        <h5 class="text-center">No Trainee has attempted your session</h5>
                    </div>
                    <div class="row session_list" *ngIf="analytics.length > 0">
                        <div class="container">
                            <div class="row-ui">
                                <div class="col s12 m6" *ngFor="let answer of analytics | paginate: { itemsPerPage: 4, currentPage: activePage }; let i = index">
                                    <!--  <questionchartbox [answer]='answer' [index]='i' [page]="activePage" [perPage]='4' [session]='session'>
                                    </questionchartbox> -->

                                    <div class="card question-box hoverable">
                                        <div class="question-box-head">
                                            <!-- <h5>Q{{answer.position}}:{{answer.description}}</h5> -->
                                            <a (click)="openModal($event)" data-toggle="tooltip" title="Click to view the graph in full view" class="add-new-session" data-target="{{i}}">
                                                <h5 id="{{i+1}}">Q. {{answer.description}}</h5>
                                            </a>

                                            <div class="digits">
                                                <span>
                                                    {{answer.answered_by}} of {{answer.participants}}
                                                </span>
                                            </div>
                                            <div class=pull-right></div>
                                        </div>
                                        <div class="charts">
                                            <span class="pull-right"> </span>

                                            <piechart [answer]='answer' *ngIf="answer.question_type === 'yes_no'"></piechart>
                                            <barchart [answer]='answer' *ngIf="answer.question_type === 'multiple_choice'"></barchart>
                                            <wordcloud [answer]='answer' *ngIf="answer.question_type === 'short_text'" [session]='session'></wordcloud>
                                            <rate [answer]='answer' *ngIf="answer.question_type === 'rating'"></rate>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <pagination-controls (pageChange)="pageChanged($event)" class="pull-right"></pagination-controls>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </tab>
    <tab title="Queries">
        <div class="tab-section">
            <div class="container">
                <div class="container" *ngIf="queries.length == 0">
                    <h5 class="text-center">No Queries yet</h5>
                </div>

                <div class="scrollbar" *ngIf="queries.length > 0">
                    <div class="row-align" *ngFor="let query of queries">
                        <p>{{query.description}}</p>
                        <span>{{query.posted_by}} [{{query.created_at}}]</span>
                    </div>
                </div>
            </div>
        </div>
    </tab>

</tabs>
