<div id="contact-us-modal" class="modal small-modal small-width-modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <div class="center-align">
          <img [src]="logoPath" alt="NimblDeck Logo">
        </div>
        <h4 class="center-align" ga-on="click" ga-event-category="Contact"  ga-event-action="click">{{'contact.us' | translate}}</h4>
        <br>
        <div class="success contact-success" *ngIf="contactSent">
          {{'general.success' | translate}}
        </div>
        <div class="error" *ngIf="contactError">
           {{'general.success' | translate}}
        </div>
        <form [formGroup]="contactForm"  (submit)="submitContact($event)">
          <div class="row">
            <div class="input-field col s12">
                        <textarea id="enter-message" class="materialize-textarea contact-texbox" formControlName="message"
                                  placeholder="{{'contact.message' | translate}}"></textarea>
               <label for="enter-message">{{'contact.message' | translate}}</label> '
               <div [hidden]="contactForm.get('message').valid || contactForm.get('message').pristine" class="alert alert-danger">
                {{'contact.message' | translate}}
              </div> 
            </div> 
          </div>
          <br>
          <div class="center-align">
            <button type="reset" class="hide reset-btn"></button>
            <button class="btn btn-contact" [disabled]="!contactForm.valid" type="submit">{{'contact.send' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
